* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body{
  height:auto;
}
:root {
  --color1: #FFCC63;
  --color2: #F58340;
  --color3: #f8d3f7;
  --color4: #d7ced7;
  --black: #000;
  --white: #fff;
  --brown:#50413C;
  --lightgray: #d3d3d3;
  --red: rgb(238, 62, 62);
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  overflow-x: hidden;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 5rem;
  height: 100vh;
}
/* header styles */
.header {
  background-color: var(--color1);
  position: sticky;
  z-index: 1000;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header .header_body {
  display: flex;
  align-items: center;
  width: 100%;
}

.header .header_body .logo {
  margin-right: auto;
}

.header .header_body .logo .logo-img {
  height: 100%;
  max-height: 80px;
  width: auto;
}

.header .header_body .navbar {
  display: flex;
  gap: 20px;
}

.header .header_body .navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--white);
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.header .header_body .navbar a:hover {
  background-color: var(--color2);
  border-radius: 5px;
}

.header .header_body .cart {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--white);
}

#menu-btn {
  display: none;
}
/* index.php file */
.display_message {
  background-color: var(--color2);
  padding: 2.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.display_message span {
  font-size: 1.5rem;
}
.display_message i {
  font-size: 2.5rem;
  cursor: pointer;
}

.display_message i:hover {
  color: var(--red);
}

.heading {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1.5rem 0 2rem;
  color: var(--black);
}
section {
  padding: 2rem;
}

/* add products form */
.add_product,
.update_product {
  max-width: 600px;
  background-color: var(--color2);
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.add_product .input_fields,
.update_product .input_fields {
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: var(--black);
  background-color: var(--white);
  margin: 1.5rem 0;
  width: 100%;
}

/* submit button */
.submit_btn,
.edit_btn,
.cancel_btn {
  display: block;
  width: 50%;
  text-align: center;
  background-color: var(--color1);
  color: var(--white);
  font-size: 1.7rem;
  padding: 1.2rem 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
  cursor: pointer;
  margin-top: 2rem;
  margin: 0 auto;
}
.cancel_btn {
  background-color: var(--red);
  margin: 2rem auto;
}
.submit_btn:hover {
  color: var(--color3);
}

/* view_products.php */
.display_product table {
  border: 0;;
  width: 100%;
  text-align: center;
}
.display_product table thead th {
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: var(--color2);
  color: var(--white);
}
td {
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--black);
  border: 1px solid var(--white);
  text-transform: uppercase;
}
.empty_text {
  background-color: var(--color2);
  padding: 2.5rem 2rem;
  font-size: 2rem;
  text-align: center;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.delete_product_btn,
.update_product_btn {
  text-align: center;
  color: var(--red);
  font-size: 1.7rem;
  padding: 0 1rem;
  cursor: pointer;
}
.update_product_btn {
  color: var(--color2);
}
.product_container_box {
  text-align: center;
  height: 70%;
}

.logo-img, .productimage{
  width: 20%;
  margin: 0 auto;
}


/* shop_product.php file styles */
.product_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 5%;
  height: 70%;
}
.product_container .edit_form {
  text-align: center;
  padding: 1rem;
  box-shadow: var(--black);
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--white);
  box-shadow: 2px 5px 5px #50413C;
}
.product_container .edit_form img {
  width: 95%;
  height:auto;
  margin: 0 auto;
}

.products .edit_form h3 {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--black);
  
}
.products .edit_form .price {
  font-size: 1.5rem;
  color: var(--color1);
  margin: 1rem 0;
}
.submit_btn {
  width:10rem;
  border-radius: 10px;
  text-align: center;
  padding: 1rem; 
}

.message,
.cross {
  color: var(--white);
}

@media (max-width: 1000px) {
  .product_container {
    grid-template-columns: repeat(3, 1fr);
  }
  
}
@media (max-width: 599px) {
  .product_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* cart.php */
.shopping_cart table {
  text-align: center;
  width: 100%;
}
.shopping_cart table thead th {
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--color2);
}
.table_bottom {
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 1rem 0 3rem 0;
}
.bottom_btn {
  color: var(--black);
  font-size: 1.3rem;
  background-color: var(--white);
  padding: 1rem;
}
.bottom_btn span {
  color: var(--color2);
}

.delete_all_btn {
  background-color: var(--color1);
  color: var(--white);
  font-size: 1.3rem;
  padding: 1.5rem;
}
.delete_all_btn .fa-trash {
  color: var(--red);
  margin-right: 0.5rem;
}
.Checkout_btn{
  font-size: medium;
  background-color: #F58340;
  padding: 10px;
  width: 30%;
  border-radius: 30px;
}
.quantity_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity_box input {
  width: 40%;
  padding: 0.5rem;
}
.update_quantity {
  color: var(--white);
  padding: 0.5rem;
  background-color: var(--color1);
  margin: 1rem 0;
}
/*footer section*/
footer {
  height: 250px;
  color: #ffffff;
  background-color: #F58340;
  position: relative;
  bottom: 0;
  width: 100%;
}

.extraPages{
  display: flex;
  top: 250px;
  color: #ffffff;
  font-family:'Open Sans', sans-serif;
}

.sm{
  float: right;
}

/* media queries */

@media (max-width: 1200px) {
  
  .shopping_cart {
    overflow-x: scroll;
  }

  .shopping_cart .heading {
    text-align: left;
  }

  .shopping_cart .checkout-btn {
    text-align: left;
  }
}
@media (max-width:1098px){
  .shopping_cart table {
    width: 100rem;
    justify-content: center;
  }
}

@media (max-width:1040px){
  .shopping_cart table {
    width: 95rem;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .shopping_cart table {
    width: 95rem;
    justify-content: center;
  }

}
@media (max-width:874px){
  .shopping_cart table {
    width: 90rem;
    justify-content: center;
  }
}

@media (max-width:832px){
  .shopping_cart table {
    width: 80rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .header_body .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--blue);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }

  .header .header_body .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--color1);
  }

  .header .header_body .navbar a {
    margin: 2rem;
    display: block;
    text-align: center;
    font-size: 2.5rem;
  }

  .display_product {
    overflow-x: scroll;
  }

  .display_product table {
    width: 70rem;
  }
  .table_bottom {
    display: block;
    text-align: center;
  }
  .bottom_btn {
    color: var(--black);
    font-size: 1.3rem;
    background-color: var(--white);
    padding: 1rem;
    margin: 2rem 0;
  }
}

@media (max-width:732px){
  .shopping_cart table {
    width: 70rem;
    justify-content: center;
  }
}
@media (max-width:647px){
  .shopping_cart table {
    width: 60rem;
    justify-content: center;
  }
}
@media (max-width:559px){
  .shopping_cart table {
    width: 40rem;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .shopping_cart table {
    width: 30rem;
    justify-content: center;
  }
}
